body,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
}

canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
}

#videoScreen {
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	touch-action: none;
}

#screenshotBtn {
	left: 50%;
	background: #ffffff50;
	transform: translateX(-50%);
}

#fullscreenBtn {
	right: 2%;
	background: #ffffff50;
}

#facingModeButton {
	left: 2%;
	background: #ffffff50;
}

#fullscreenOffBtn {
	right: 2%;
	background: #ffffff50;
}

.btn-ui {
	z-index: 1;
	bottom: 2%;
	position: absolute;
	color: white;
	padding: 12px 24px;
	margin: 0;
	border-radius: 4px;
	border: none;
	background: none;
	cursor: pointer;
	line-height: 1;
	transition: transform 0.2s;
}

.log {
	z-index: 1;
	top: 2%;
	position: absolute;
}

.btn-icon {
	filter: invert(100%) sepia(1%) saturate(16%) hue-rotate(190deg) brightness(116%) contrast(88%);
}

.btn-ui:hover {
	transform: scale(1.1);
}

#screenshotBtn:hover {
	transform: scale(1.1) translateX(-45%);
}
